<h2> Add an Event </h2>
<%= form_with model: @event, url: "#{@event.user_id}/events", method: "post", local: true do |f|%>
<% if @event.errors.any? %>
        <div id="error_explanation">
          <h4>
            <%= pluralize(@event.errors.count, "error") %> prohibited
            this event from being saved:
          </h4>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

<%= f.hidden_field :user_id %>
<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div>
<%= f.label :location %>
<%= f.text_field :location %>
</div>

<div>
<%= f.label :friend_id %>
<%= f.collection_select :friend_id, @event.user.friends, :id, :full_name, prompt: true %>
</div>

<div>
<%= f.label :event_time %>
<%= f.datetime_field :event_time %>
</div>

<div>
<%= f.submit %>
</div>


<% end %>
