<h1> Signup </h1>
<%= form_with model: @user, url:"/signup", method: "post", local: true do |f| %>

<% if @user.errors.any? %>
        <div id="error_explanation">
          <h4>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
          </h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

<%= f.label :first_name, "First Name:" %>
<%= f.text_field :first_name %>

<%= f.label :last_name, "Last Name:" %>
<%= f.text_field :last_name %> <br> <br>

<%= f.label :email, "Email:" %>
<%= f.text_field :email %> <br> <br>

<%= f.label :password, "Password:" %>
<%= f.password_field :password %> <br> <br>

<%= f.label :password_confirmation, "Password Confirmation:" %>
<%= f.password_field :password_confirmation %> <br> <br>

<%= submit_tag "Signup"%>
<% end %>
<br>
<a href="/auth/google_oauth2" class="btn btn-primary">Signup with Google</a>